body {
    color: #9c9c9c;
}
h1,h2,h3,h4,h5,h6 {
    color: #333;
}
.section-padding {
    padding: 80px 0;
}
.dume {

    height: 130px;
    max-width: 123px;
    border-radius: 70%;
    margin-bottom: 30px;
}
.row {
    margin-bottom: 50px;
}
.section-titel h2 {
    font-size: 44px;
}