.section-padding{
    padding: 90px 0;
}
.section-title {
    margin-bottom: 63px;
    text-align: center;
}
.section-title h2 {
    position: relative;
    z-index: 1;
    padding-bottom: 27px;
    margin-bottom: 15px;
}
.section-title h2::before {
    bottom: 0;
    left: 49%;
    position: absolute;
    content: "";
    width: 86px;
    height: 4px;
    background: #fedb77;
    margin-left: -30px;
}
.section-title h2::after {
    position: absolute;
    content: "";
    background: #ff7875;
    bottom: 0;
    left: 50%;
    height: 4px;
    width: 30px;
    margin-left: -13px;
}
.single-service-icon {
    display: block;
    text-align: center;
    min-height: 240px;
    margin-bottom: 30px;
    color: #333;
}
#text{
    text-decoration: none;
}
.single-service-icon h3 {
    margin: 20px 0;
    font-size: 26px;
}
.service-icon-container {
    display: table;
    width: 100%;
    height: 80px;
    /* color: #fedb77;
    font-size: 53px; */
}
.service-icon-tablecell {
    display: table-cell;
    vertical-align: middle;
}
